<div class="row">
  <% @issue.pages.each do |page| %>
    <div class="col-xs-6 col-md-2" align='center'>
      <%= link_to (image_tag page.jpg_image_path, style: "width: 100%;", class: "border"), page_path(page) %>
      <!-- %= raw page.to_svg_with_jpg % -->
      <% if page.color_page %>
        <h4 class="text-center"><%= link_to "#{page.page_number}면", page_path(page), class: "btn btn-danger btn-sm" %></h4>
      <% else %>
        <h4 class="text-center"><%= link_to "#{page.page_number}면", page_path(page), class: "btn btn-light btn-sm border" %></h4>
      <% end %>
    </div>
    <!-- true -->
  <% end %>
</div>
<!-- 편집화면 하단에 자주쓰는 이전, 저장, 다운 버튼을 항상 보이게 설정 -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="btn-group" role="group" aria-label="전송">
    <%= link_to "데스크탑용 기사 xml 생성", save_story_xml_issue_path, method: :get, class: "btn btn-default btn-sm" %>
    <%= link_to "데스크탑용 지면보기 xml 생성", save_preview_xml_issue_path, method: :get, class: "btn btn-default btn-sm" %>
    <%= link_to "데스크탑용 xml 전송", send_xml_to_ebiz_issue_path, method: :get, data: { confirm: '정말 보내시겠습니까?'}, class: "btn btn-default btn-sm" %>
    <%= link_to "모바일용 xml 생성/전송", save_mobile_preview_xml_issue_path, method: :get, class: "btn btn-default btn-sm" %>
    <%= link_to "모바일용 xml 합성", merge_container_xml_issue_path, method: :get, class: "btn btn-default btn-sm" %>
  </div>
</nav>
