<div class="container">
  <h3 class="text-center">나의 사진</h3>
  <%= search_form_for @q do |f| %>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label '사진 제목' %>
      </div>
      <div class="form-group">
        <%= f.search_field :title_cont, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "검색", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <div align="text-center">
    <%= paginate @reporter_images %>
  </div>
  <div class="view">
    <% @reporter_images.each do |picture| %>
      <div class="col-xs-5 col-sm-2">
        <a href="<%= reporter_image_path(picture) %>"><img class="img-crop" src="<%= picture.thumb_path %>" width="200px" height="200px"></img></a>
      <div align="center" style="height: 50px;"><%= picture.title %> (<%= picture.source %>)</div>
    </div>
  <% end %>
</div>
<div class="col-xs-12 col-sm-12" align="center">
  <%= paginate @reporter_images %>
</div>
</div>
