<div class="container mb-3">
  <h3 class="display-4 text-center">나의 사진</h3>
  <form class="form-inline d-flex justify-content-center">
    <%= search_form_for @q, remote: true do |f| %>
      <div class="input-group col-6">
        <%= f.text_field :title_or_caption_cont, placeholder: "사진 제목 혹은 캡션을 입력하세요.", class: "form-control" %>
        <div class="input-group-append">
          <%= f.button :submit, class: "btn btn-outline-secondary", id: "button-addon2" do %>
            <span><i class="fa fa-search" aria-hidden="true"></i> 사진 검색</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </form>
</div>
<div class="w-100">
  <div class="card-columns">
    <% @reporter_images.each do |picture| %>
      <div class="card">
        <%= link_to (image_tag picture.thumb_path, class: "img-crop card-img-top"), reporter_image_path(picture) %>
        <div class="card-body">
          <h4><%= picture.title %></h4>
        </div>
        <div align="center" style="height: 50px;"> (<%= picture.source %>)</div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-12" align="center">
    <%= paginate @reporter_images %>
  </div>
</div>
