<div align="center">
  <h3>오늘기사</h3>
  <p><%= button_to "기사 생성", generate_stories_issue_path(Issue.last), method: :get, class: "btn btn-sm btn-warning" %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>페이지</th>
        <th>순서</th>
        <th>기자</th>
        <th>제목</th>
        <th>출고된 팀</th>
      </tr>
    </thead>
    <tbody>
      <% @stories.each do |story| %>
        <% if story.selected %>
          <tr style="color:red;">
            <td><%= story.working_article.page.page_number if story.working_article %></td>
            <td><%= story.working_article.order if story.working_article %></td>
            <td><%= story.reporter %></td>
            <td><%= story.title %></td>
            <td><%= story.summitted_section %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= story.working_article.page.page_number if story.working_article %></td>
            <td><%= story.working_article.order if story.working_article %></td>
            <td><%= story.reporter %></td>
            <td><%= story.title %></td>
            <td><%= story.summitted_section %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
