<table class="table table-bordered">
  <thead class="text-center">
    <tr>
      <th scope="col">작성</th>
      <th scope="col">제목</th>
      <th scope="col">지역</th>
      <th scope="col">내용분류</th>
      <th scope="col">발행시간</th>
    </tr>
  </thead>
  <tbody>
    <% @yh_articles.each do |article| %>
      <tr>
        <td class="text-center">
          <%= link_to edit_yh_article_path(article) do %>
            <i class="fa fa-pencil-square icon-color" aria-hidden="true" style="font-size: 25px;"></i>
          <% end %>
        </td>
        <td>
          <%= link_to article.title, article %>
        </td>
        <td class="text-center">
          <%= article.region %>
        </td>
        <td class="text-center">
          <%= eval(article.category)[:name] %>
        </td>
        <td class="text-center">
          <%= article.created_at.strftime("%m-%d %H:%M") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @yh_articles, theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center" %>
