<form class="form-inline d-flex justify-content-center">
  <%= search_form_for @q, remote: true do |f| %>
    <div class="input-group my-1 mr-sm-2">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
      </div>
      <%= f.date_field :date_gteq_any, value: Date.today - 3, aria: {label: "시작"}, class: "form-control" %>
      <div class="input-group-append">
        <span class="input-group-text">~</span>
      </div>
      <%= f.date_field :date_lteq_any, value: Date.today, aria: {label: "끝"}, class: "form-control" %>
    </div>
    <%= f.select :region_eq, ["국내지역", "세계지역"], { :include_blank => '지역' }, class: "form-control my-1 mr-sm-2" %>
    <%= f.select :category_name_eq, ['정치', '경제', '사회', '문화', '스포츠/레저', '국제', '지방', 'IT/과학', '북한', '민족'], {include_blank: '카테고리 선택'}, class: "form-control my-1 mr-sm-2" %>
    <div class="input-group">
      <%= f.text_field :title_or_body_cont, placeholder: "검색어를 입력하세요.", class: "form-control" %>
      <div class="input-group-append">
        <%= f.button :submit, class: "btn btn-outline-secondary", id: "button-addon2" do %>
          <span><i class="fa fa-search" aria-hidden="true"></i> 기사 검색</span>
        <% end %>
      </div>
    </div>
  <% end %>
</form>
