<!-- p id="notice"><%= notice %></p-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-5 col-sm-5">
      <h3 class="text-center">연합기사</h3>
      <%= search_form_for @q do |s| %>
        <%= s.label '카테고리' %>
        <%= s.select :category_name_eq, ['정치', '경제', '국제', '문화', '스포츠', '지방'], {include_blank: '전체'} %>
        <%= s.label '제목' %>
        <%= s.text_field :title_eq, style: "width:40px" %>
        <%= s.submit "검색", class: "btn btn-sm btn-normal"%>
      <% end %>
      <br>
      <table class="table table-striped" align="center">
        <thead>
          <tr>
            <th style="text-align:center;">ID</th>
            <th style="text-align:center;">날짜</th>
            <th style="text-align:center;">시간</th>
            <th style="text-align:center;">카테고리</th>
            <th style="text-align:center;">제목</th>
            <th style="text-align:center;">선택된 기사</th>
            <!-- th colspan="4"></th -->
          </tr>
        </thead>
        <tbody>
          <% @yh_articles.each do |article| %>
            <tr>
              <td style="text-align:center;"><%= article.id %></td>
              <td style="text-align:center;"><%= article.date %></td>
              <td style="text-align:center;"><%= article.time %></td>
              <td style="text-align:center;"><%= eval(article.category)[:name] %></td>
              <td style="text-align:left;"><%= link_to "#{article.title}", article, method: :get %><br>
                <%= article.content_id %>_<strong><%= article.action %></strong>
              </a></td>
            <td style="text-align:center;"><%= article.taken_by %></td>
            <!-- td><%= button_to "보기", article, method: :get, class: "btn btn-sm btn-success" %></td -->
          </tr>
        <% end %>
      </tbody>
    </table>
    <div align="center">
      <%= paginate @yh_articles %>
    </div>
  </div>
  <%= form_with(model: @yh_article, local: true) do |f| %>
    <div class="col-xs-5 col-sm-5">
      <div class="col-xs-1 col-sm-1">
      </div>
      <div class="col-xs-11 col-sm-11">
        <p>
          <strong>Date:</strong>  <%= @yh_article.date %>   <%= @yh_article.time %>
          <br>
          <strong>ContentID:</strong> <%= @yh_article.content_id %>_<strong><%= @yh_article.action %></strong>
          <br>
        </p>
        <div class="field">
          <%= f.label :제목 %>
          <%= f.text_field :title, :size=>"40" , class: "form-control", :readonly => true %>
        </div>
        <div class="field">
          <%= f.label :본문 %>
          <%= f.text_area :body, cols: 40, rows: 30, class: "form-control", :readonly => true, style: "font-size: 14px !important;" %>
        </div>
      </div>
      <!-- 편집화면 하단에 자주쓰는 이전, 저장, 다운 버튼을 항상 보이게 설정 -->
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="btn-group" role="group" aria-label="기능">
          <%= link_to "이전으로", yh_articles_path, method: :get, class: "btn btn-default btn-sm" %>
          <%= link_to "기사 가져오기", taken_yh_article_path, method: :get, class: "btn btn-default btn-sm" %>
        </div>
      </nav>
    </div>
  <% end %>
</div>
</div>
