<div class="card">
  <h5 class="card-header text-light bg-dark">
    연합 국내취재 사진 미리보기
  </h5>
  <%= image_tag @yh_picture.preview_path, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title display-4" style="font-size: 30px;"><%= @yh_picture.title %></h5>
    <p class="card-text"><%= simple_format(@yh_picture.body) %></p>
    <p class="text-secondary text-center font-italic">저작권자(c) 연합뉴스, 무단 전재-재배포 금지</p>
    <p>출고자: <%= simple_format(@yh_picture.taken_by) %></p>
  </div>
  <div class="card-footer">
    <%= link_to "사진선택", taken_yh_picture_path(@yh_picture), method: :get, class: "btn btn-info" %>
  </div>
</div>
