<div id="yh_picture_search_form">
  <%= render 'search_form' %>
</div>
<div class="row">
  <div class="col-md-12">
    <br>
    <div class="card-columns">
      <% @yh_pictures.each do |yh_picture| %>
        <div class="card text-center">
          <%= link_to (image_tag yh_picture.thumb_path, class: "img-crop", style: "width: 100%;"), yh_picture_path(yh_picture) %>
          <div class="card-footer">
            <h6 class="card-title text-center"><%= yh_picture.title %></h6>
            <small class="text-muted"><%= yh_picture.created_at.strftime("%y-%m-%d %H:%M") %></small>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @yh_pictures, theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center" %>
  </div>
</div>
