<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 mx-4">
      <%= image_tag @yh_picture.preview_path, style: "width: 100%;" %>
    </div>
    <div class="col-md-6">
      <h1 class="display-4 mb-5">
        <%= @yh_picture.title %>
      </h1>
      <p>
        <%= simple_format(@yh_picture.body) %>
      </p>
      <p class="font-italic text-center">
        저작권자(c) 연합뉴스, 무단 전재-재배포 금지
      </p>
      <p class="text-muted">
        출고자: <%= simple_format(@yh_picture.taken_by) %>
      </p>
    </div>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="nav">
    <li class="nav-item">
      <%= link_to "이전으로", yh_pictures_path, method: :get, class: "btn btn-info mx-1" %>
    </li>
    <li class="nav-item">
      <%= link_to "사진선택", taken_yh_picture_path, method: :get, class: "btn btn-info" %>
    </li>
  </ul>
</nav>
