<%= form_with(model: @yh_picture, local: true) do |f| %>
  <div class="text-center">
    <%= link_to "이전으로", yh_pictures_path, method: :get, class: "btn btn-md btn-success" %>
    <%= link_to "사진선택", taken_yh_picture_path, method: :get, class: "btn btn-md btn-primary" %>
  </div>
  <br>
  <div class="view">
    <div class="col-md-5">
      <img  src="<%= @yh_picture.preview_path %>" width="100%"></img>
  </div>
  <div class="col-md-4">
    <div class="field">
      <%= f.label :제목 %>
      <%= f.text_field :title, :size=>"40" , class: "form-control", :readonly => true %>
    </div>
    <div class="field">
      <%= f.label :본문 %>
      <%= f.text_area :body, cols: 40, rows: 28, class: "form-control", :readonly => true, style: "font-size: 14px !important;" %>
    </div>
    <div class="field">
      <%= f.label :출고자 %>
      <%= f.text_field :taken_by, :size=>"40" , class: "form-control", :readonly => true %>
    </div>
  </div>
</div>
<% end %>
