<div align='center'>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">영역선택</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="mb3">
            <%= image_tag @image.storage_image, id: "cropbox", width: 500 %>
          </div>
          <%= simple_form_for(@image) do |f| %>
            <div class="form-group">
              <%= f.button :submit, '크롭 적용', id: "saveCropData", method: :fetch,  class: "btn btn-primary btn-lg btn-block", style: "border-radius: 0" %>
            </div>
            <div class="form-group">
              <%= link_to '크롭 취소', working_article_path(@image.working_article), class: "btn btn-danger btn-lg btn-block", style: "border-radius: 0" %>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 mb-3">
                  <%= f.text_field :crop_x, placeholder: "x축", id:"dataX", class: "form-control"%>
                </div>
                <div class="col-md-3 mb-3">
                  <%= f.text_field :crop_y, placeholder: "y축", id:"dataY", class: "form-control"%>
                </div>
                <div class="col-md-3 mb-3">
                  <%= f.text_field :crop_w, placeholder: "가로", id:"dataW", class: "form-control"%>
                </div>
                <div class="col-md-3 mb-3">
                  <%= f.text_field :crop_h, placeholder: "세로", id:"dataH", class: "form-control"%>
                </div>
              </div>
            </div>
            <div class="row">
              <%= f.text_field :column, style: "width:40px", class: 'form-control' %>
              <%= f.text_field :row, style: "width:40px", class: 'form-control' %>
              <%= f.text_field :extra_height_in_lines, style: "width:40px", class: 'form-control' %>
            </div>
          <% end %>
          <br>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
</div>
